 <!DOCTYPE html>
<html ng-app="randomApp">
<head>
    <meta charset="UTF-8">
    <title>[Totgresca]</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/index.css">
    <!-- JS -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.min.js"></script>
    <script src="randomApp.module.js"></script>
    <script src="mainController.js"></script>
</head>

<body ng-controller="mainController as mainCtrl" ng-keypress="mainCtrl.keydown($event)" ng-class="{ 'knife': mainCtrl.knife }" ng-init="mainCtrl.out('next')">
    <div class="container-flex">
        <div class="col-md-12 col-xs-12">
            <h1>Reunió Totgresca {{ mainCtrl.date | date:'dd-MM-yyyy' }}</h1>
            <h3 ng-hide="mainCtrl.gresca_passada">Falten {{ mainCtrl.dies_restants }} dies</h3>
        </div>
        <div class="col-md-12 col-xs-12">
            <button ng-show="mainCtrl.stat=='next'" ng-click="mainCtrl.next('out')" type="button" class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-log-in"></span>
            </button>
            <button ng-show="mainCtrl.stat=='out'" ng-click="mainCtrl.out('next')" type="button" class="btn btn-danger btn-lg">
                <span class="glyphicon glyphicon-log-out"></span>
            </button>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="row">
                <div class="col-md-3 col-xs-3">
                    <div class="box" data-drop="true" ng-model='mainCtrl.seccions1' jqyoui-droppable="{ multiple:true }">
                        <div ng-repeat="seccio in mainCtrl.seccions1" data-drag="true" data-jqyoui-options="{ revert: 'invalid' }" ng-model="mainCtrl.seccions1" jqyoui-draggable="{ index: {{$index}} }">
                            {{ seccio }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="box" data-drop="true" ng-model='mainCtrl.actual' jqyoui-droppable="{ multiple:true }" data-jqyoui-options="mainCtrl.opcions_actual">
                        <div ng-repeat="actual in mainCtrl.actual" data-drag="true" data-jqyoui-options="{ revert: 'invalid' }" ng-model="mainCtrl.actual" jqyoui-draggable="{ index: {{ $index }} }">
                            <span class="glyphicon glyphicon-bullhorn"></span>
                            <h2>{{ actual }}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-3">
                    <div class="box" data-drop="true" ng-model='mainCtrl.seccions2' jqyoui-droppable="{ multiple:true }">
                        <div ng-repeat="seccio in mainCtrl.seccions2" data-drag="true" data-jqyoui-options="{ revert: 'invalid' }" ng-model="mainCtrl.seccions2" jqyoui-draggable="{ index: {{ $index }} }">
                            <strike>{{ seccio }}</strike>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
